class Atm:
	def __init__(self, bankname):
		self.bankname = bankname
		self.accesscontrol()  #need card control
		self.loop=True

	def accesscontrol(self):
		access=2
		for i in range(0,3):
				password=input("Please type your paswword: ")
				if password==cardusing.password:
					self.program()
				elif password!=cardusing.password and access!=0:
					print("Incorrect password. Your acces right {}".format(access))
					access-=1
				elif password!=cardusing.password and access==0:
					print("Your credit card has been blocked because you've entered the password incorrectly 3 times")
					exit()
	def program(self):
		select=self.menu()
		if select==1:
			self.balance()
		if select==2:
			self.debt()
		if select==3:
			self.withdraw()
		if select==4:
			self.deposit()
		if select==5:
			self.exit()

	def menu(self):
		select=int(input("Hello! Welcome to {} Bank {} {} \n \n Please select the inquiry you want to perform!\n\n[1] Balance \n[2] Credit Card Debt\n[3] Withdraw\n[4] Deposit\n[5] Exit and taking card back\n\n Select: ".format(self.bankname,cardusing.name,cardusing.surname)))
		while select<1 or select>5:
			print("\n\nPlease enter a digit between 1 and 5\nReturning to main menu")
			self.program()
		return select
	def balance(self):
		print("Your balance: {}".format(cardusing.balance))
		self.loop=False
		self.menuback()
	def debt(self):
		print("Your debt: {}. Your card has {} due date.".format(cardusing.debt,cardusing.debt_date))
		self.menuback()
	def withdraw(self):
		amount=int(input("Enter the amount to be withdrawn: "))
		newamount=cardusing.balance-amount
		if amount>cardusing.balance:
			print("Not enough money!")
			self.menuback()
		else:
			print("Take your money and count it please. Your new balance is: {}".format(newamount))
			self.menuback()
	def deposit(self):
		amount2=int(input("Enter the amount o be deposited: "))
		newamount2=cardusing.balance+amount2
		print("Money depositing is succesfull. Your new balance: {}".format(newamount2))
		self.menuback()
	def exit(self):
		print("Thank you for choosing us. Have a good day")
		self.loop=False
		exit()
	def menuback(self):
		x=int(input("For returning to main menu, please press to number 7. For exiting and taking your card, press 5. "))
		if x==7:
			self.program()
		elif x==5:
			self.exit
bank=Atm("X")
while bank.loop==True:
	bank.program()
